body {
    background: #1A1A1A;
}

/* header */

.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__block {
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 90px;
   
    color: #34C759;
}

.logo:hover {
    color: #34C759;
}

.nav__link {
    margin-right: 15px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 90px;
   
    color: #fff;
}

.nav__link:hover {
    color: #34C759;
}


/* intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: max-content;
    min-height: 820px;

    background: url("/img/background.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__block {
    margin-top: 200px;
}

.intro__logo {
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.1em;
    text-transform: capitalize;

    color: #fff;
}

.intro__bold {
    font-weight: 800;
}

.intro__suplogo {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    text-align: center;
    letter-spacing: -0.2px;
    
    color: #fff;
    
    mix-blend-mode: normal;
    opacity: 0.7;
}

.intro__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    
    text-align: center;
    letter-spacing: 0.2em;
   
    color: #1A1A1A;
    background: #34C759;
    border-radius: 43px;
    padding: 25px 50px;
    border: #34C759;
}

.intro__titleblock {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.intro__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.intro__info-center {
    margin: 50px 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.intro__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
   
   margin-top: 10px;
    
    color: #fff;
}

.intro__suptitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    
    color: #fff;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}

.intro__about {
    position: relative;
    margin-top: 150px;
    background: #252525;
}

.about__text {
    width: auto;
    height: 500px;
}

.about__title {
    position: absolute;
    font-weight: 400;
    font-size: 36px;
    line-height: 90px;

    letter-spacing: 0.2em;
    text-transform: capitalize;
    
    color: #D9D9D9;
}

.about__absolute {
   margin-top: 10px;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 900;
    line-height: 150px;

    letter-spacing: 0.2em;

    color: #303030;
}

.about__suptitle {
    margin-top: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    
    color: #A6A6A6;
}

.about__img {
    width: auto;
    height: max-content;
    margin-top: 90px;
    padding-bottom: 100px;
}

.about__pisture-left {
    margin-right: 90px;
}

.about__pisture {
    margin-right: 30px;
}

.about__pisture-right {
    margin-left: 90px;
}

/* work */

.work {
    margin-top: 60px;
}

.absolute {
    margin: 100px auto;
    position: relative;
    align-items: center;
    justify-content: center;
}

.title {
    position: absolute;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 900;
    line-height: 150px;

    letter-spacing: 0.2em;

    color: #303030;
    z-index: 1;

}

.suptitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 90px;

    letter-spacing: 0.2em;
    text-transform: capitalize;
    
    color: #D9D9D9;
    z-index: 2;
}

.title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;

    background: #34C759;
    margin: 10px auto;
}

.work__rows {
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.work__block-green {
    padding: 22px 22px;
    margin: 30px 30px;
    border-radius: 10px;
    background: #34C759;
    width: 255px;
    height: 200px;
}

.work__block {
    padding: 22px 22px;
    margin: 30px 30px;
    border-radius: 10px;
    background: #252525;
    width: 255px;
    height: 200px;
}

.work__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    
    color: #191919;
}

.work__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;

    background: #191919;
    margin: 20px 0px;
}

.work__suptitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    
    letter-spacing: -0.1625px;
    
    color: #191919;
}

.work__title-reverse {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    
    color: #fff;
}

.work__title-reverse::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;

    background: #34C759;
    margin: 20px 0px;
}

.work__suptitle-reverse {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    
    letter-spacing: -0.1625px;
    
    color: rgba(255, 255, 255, 0.5);
}

/* dishes */

.dishes__block {
    margin: 60px 0px 30px 0px;
}

.dishes__group {
    margin: 0px 0px;
}

.dishes__card {
    margin-right: 30px;
}

.dishes__title {
    padding: 20px 30px;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
   
    color: #D9D9D9;
}

.dishes__suptitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    letter-spacing: -0.15px;
    
    color: #A4A8B2;
    
}

.dishes__text {
    padding: 20px 30px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    
    letter-spacing: -0.1625px;
    
    color: #85878C;  
}

.dishes__card-fuuter {
    padding: 10px 30px;
}

.dishes__number {
    margin-left: 11px;
    font-weight: 900;
    font-size: 12px;
    line-height: 30px;
   
    letter-spacing: 1.5px;
    
    color: #B3B3B3;
}

.dishes__btn {
    margin-left: 70px;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
   
    letter-spacing: 0.2em;
    text-transform: uppercase;
        
    color: #252525;   

    background: #34C759;
    border-radius: 30px;
    padding: 1px 32px;
    border: 1px solid #34C759;
}

.dishes__btn-reverse {
    margin-left: 70px;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
   
    letter-spacing: 0.2em;
    text-transform: uppercase;
        
    color: rgba(255, 255, 255, 0.5);


    background: #262626;
    border: 2px solid #303030;
    border-radius: 30px;
    padding: 1px 32px;
}

/* chefs */

.chefs__titleblock {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.chefs__text {
    flex-direction: column;
}
.chefs__avatar {
    margin-right: 25px;
}

.chefs__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
   
    letter-spacing: -0.225px;
    
    color: #FFFFFF; 
}

.chefs__paragraph {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    letter-spacing: -0.15px;
    
    color: rgba(255, 255, 255, 0.5); 
}

.chefs__supblock {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.chefs__img {

    margin: 20px 30px 20px 0px;
}

/* recipes */


.recipes__elements {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* left elements */

.recipes__block-left {
    width: 540px;
    min-width: 400px;
    height: 510px;

    background: url("/img/bg-left.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.recipes__header {
    align-items: center;
    justify-content: center;
}

.recipes__header-text {
    margin-left: 0px;
    margin-top: 60px;
    font-weight: 900;
    font-size: 10px;
    line-height: 25px;

    letter-spacing: 1.25px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    background: #000000;
    mix-blend-mode: normal;
    padding: 10px 16.5px;
    border-radius: 20px;
}


.recipec__body {
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recipec__body-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
  
    color: #FFFFFF;
}

.recipec__body-suptitle {
    margin-top: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
  
    color: #FFFFFF;
}

.recipec__body-paragraph {
    margin-top: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
  
    color: #FFFFFF;
}

.recipec__footer {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.recipec__footer-left {
    margin-right: 50px;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  
    color: #FFFFFF;
}

.recipec__left-icon {
    margin-right: 10px;
}

.recipec__footer-right {
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  
    color: #FFFFFF;
}

/* right */

/* up */

.recipec__right-up {
    margin: 40px auto;
    flex-direction: column;
    width: 540px;
    min-width: 400px;
    height: 150px;


    background: #252525;
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
}

.right__up-body {
    align-items: center;
    justify-content: center;
}

.right__up-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
 
    color: #FFFFFF;
    
}

.right__up-footer-btn {
    margin-right: 10px;
    font-weight: 900;
    font-size: 10px;
    line-height: 25px;
    
    letter-spacing: 1.25px;
    text-transform: uppercase;
    
    color: #FFFFFF;

    padding: 6.5px 10px;
    background: #000000;
    border-radius: 10px;
}

.right__up-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
  
    color: #B3B3B3;
}

.right__up-footer-right {
    align-items: flex-end;
}

.right__footer-left-first {
    margin-left: 100px;
    margin-right: 50px;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  
    color: #FFFFFF;
}

.right__footer-right {
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  
    color: #FFFFFF;
}

/* mid */

.recipec__right-mid {
    flex-direction: column;
    width: 540px;
    min-width: 400px;
    height: 150px;


    background: url("/img/right__bg.png");
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
}

.right__up-body {
    align-items: center;
    justify-content: center;
}

.right__up-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
 
    color: #FFFFFF;
    
}

.right__up-footer-btn {
    margin-right: 10px;
    font-weight: 900;
    font-size: 10px;
    line-height: 25px;
    
    letter-spacing: 1.25px;
    text-transform: uppercase;
    
    color: #FFFFFF;

    padding: 6.5px 10px;
    background: #000000;
    border-radius: 10px;
}

.right__up-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
  
    color: #B3B3B3;
}

.right__up-footer-right {
    align-items: flex-end;
}

.right__footer-left-first {
    margin-left: 100px;
    margin-right: 50px;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  
    color: #FFFFFF;
}

.right__footer-right {
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  
    color: #FFFFFF;
}

/* down */

.recipec__right-down {
    margin: 40px auto;
    flex-direction: column;
    width: 540px;
    min-width: 400px;
    height: 150px;


    background:#34C759;
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
}

.right__up-body {
    align-items: center;
    justify-content: center;
}

.right__down-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
 
    color: #252525;

    
}

.right__up-footer-btn {
    margin-right: 10px;
    font-weight: 900;
    font-size: 10px;
    line-height: 25px;
    
    letter-spacing: 1.25px;
    text-transform: uppercase;
    
    color: #FFFFFF;

    padding: 6.5px 10px;
    background: #000000;
    border-radius: 10px;
}

.right__down-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
  
    color: #1A1A1A;
}

.right__up-footer-right {
    align-items: flex-end;
}

.right__footer-down-first {
    margin-left: 100px;
    margin-right: 50px;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  
    color: #1A1A1A;
}

.right__footer-down {
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  
    color: #1A1A1A;
}

.recipec__down-icon {
    margin-right: 10px;

    color: #1A1A1A;
}

.recipec__footer-down {
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  
    color: #1A1A1A;
}

/* social */

.social__block {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.social__card {
    width: 350px;
    height: 330px;
    background:  #252525;
    border-radius: 10px;
    margin: 50px 20px;
}

.social__card-header {
    align-items: center;
    justify-content: space-between;
}

.social__card-body {
    padding: 0px 0px;
}

.social__card-body-img {
    padding: 0px 0px;
    margin: 0px 0px;
}

.social__twitter-img {
    width: 40px;
    height: 40px;
}

.social__twitter-text {
    margin-left: 20px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
   
    color: #BFBFBF;
}

.social__btn {
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;

    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #737373;

    background: #262626;
    background: #262626;
    border: 2px solid #303030;
    border-radius: 30px;

}

.social__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
  
    color: #737373;
}

.social__suptitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
 
    color: rgba(255, 255, 255, 0.7);
}

.social__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;

    color: #34C759; 
}

.social__card-img {
    width: 100px;
    height: 100px;
    padding: 0px 0px;
    margin: 10px 0px;
}

/* footer */

.footer {
    width: 100%;
    height: 275px;

    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.footer__up {
    height: 170px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.stroke {
    width: 100%;
    height: 2px;
    background: #303030;
}

.footer__down {
    align-items: center;
    justify-content: center;
}

.footer__logo {
    
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 90px;
   
    color: #34C759;
}

.footer__logo:hover {
    color: #34C759;
}
